body {
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #040d16;
    color: #e8e8e8;
    font-family: 'minecraftregular';
    font-size: 24px;
    max-height: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    max-width: 650px;
}

a {
    text-decoration: none;
    color: rgb(106, 106, 106);
    border-bottom: 2px solid;
    border-color: #494f54;
}

p {
    margin: 0;
    text-align: center;
}

label {
    margin-right: 5px;
}

input {
    min-width: 100px;
    border: 0;
    background-color: #040d16;
    border-bottom: 2px solid;
    border-color: #494f54;
    color: #e8e8e8;
    font-family: 'minecraftregular';
    font-size: 20px;
}

.findStronghold {
    border: 0;
    padding: 1.25rem 2rem;
    font-family: 'minecraftregular';
    font-size: 24px;
    transition: 100ms;
    cursor: pointer;
    color: black;
    background-color: #e8e8e8;
}

.findStronghold:hover {
    opacity: 0.75;
}

.findStronghold:active {
    padding: 1.25rem 3rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offsetheights {
    margin-top: 15px;
    margin-bottom: 15px;
}

.offsetsides {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 128px; 
    height: 128px;
    border: 0;
}

.commandInput {
    margin-left: 10px;
    margin-right: 10px;
}

input::placeholder {
    color: rgb(106, 106, 106);
    font-size: 20px;
}

.inputField {
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
}

.manualInput {
    display: flex;
    flex-wrap: wrap;
}

.calculator {
    margin-top: 20px;
    width: 500px;
    height: 300px;
}

.inputSelector {
    display: flex;
    flex-wrap: wrap;
}

.radioInput {
    cursor: pointer;
    width: 250px;
    height: 30px;
    margin: 0;
    z-index: 1;
    opacity: 0;
}

.visibleOption {
    position: absolute;
    width: 250px;
    height: 30px;
    text-align: center;
    z-index: 0;
    border-color: #e8e8e8;
}

#radioInputCommand:checked ~ .visibleOption {
    border-bottom: 2px solid;
    
}

#radioInputManual:checked ~ .visibleOption {
    border-bottom: 2px solid;
}

#radioInputCommand:not(:checked):hover ~ .visibleOption {
    border-bottom: 2px solid;
    border-color: #494f54;
}

#radioInputManual:not(:checked):hover ~ .visibleOption {
    border-bottom: 2px solid;
    border-color: #494f54;
}

#output {
    cursor: pointer;
}