body {
    margin: 0;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: #040d16;
    color: white;
    font-family: 'minecraftregular';
    font-size: 24px;
    max-height: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    max-width: 80vw;
}

a {
    text-decoration: none;
    color: rgb(106, 106, 106);
}

p {
    margin: 0;
    text-align: center;
}

input {
    min-width: 100px;
    border: 0;
    background-color: #040d16;
    border-bottom: 2px solid;
    border-color: rgb(106, 106, 106);
    color: white;
    font-family: 'minecraftregular';
    font-size: 24px;
}

input::placeholder {
    color: rgb(106, 106, 106);
}

button {
    border: 0;
    padding: 1.25rem 2rem;
    font-family: 'minecraftregular';
    font-size: 24px;
    transition: 100ms;
    cursor: pointer;
}

button:hover {
    opacity: 0.75;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.command {
    align-items: flex-start;
}

.manualInput {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: center;
    width: 128px; 
    height: 128px;
}

.calculator {
    margin-top: 20px;
    width: 500px;
    height: 300px;
}

.offsetheights {
    margin-top: 20px;
    margin-bottom: 20px;
}

.offsetsides {
    margin-left: 20px;
    margin-right: 20px;
}

.inputSelector {
    display: flex;
    flex-wrap: wrap;
}

.radioInput {
    cursor: pointer;
    width: 250px;
    height: 30px;
    margin: 0;
    z-index: 1;
    opacity: 0;
}

.visibleOption {
    position: absolute;
    width: 250px;
    height: 30px;
    text-align: center;
    z-index: 0;
    border-color: white;
}

#radioInputCommand:checked ~ .visibleOption {
    border-bottom: 2px solid;
    
}

#radioInputManual:checked ~ .visibleOption {
    border-bottom: 2px solid;
}